/* BASIC */
.login-page .login-header {
    text-align: center;
}

.login-page .login-header li{
    display: inline-block;
    padding-left: 37.5px;
    padding-right: 37.5px;
    cursor: pointer;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000000;
}

.login-page .login-header ul{
    padding-left: 0;
    margin-left: 88px;
    margin-top: 62px;
}

.login-page .login-header img{
    position: absolute;
    left: 58px;
    top: 30px;
}

.login-page .body-wrapper {
    position: relative;
    margin-left: 228px;
    margin-top: 142px;
}

.login-page .hello-header {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 63px;
    color: #2F4FA7;
}

.login-page .hello-description {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #676767;
    margin-top: 10px;
    margin-bottom: 12px;
}

.login-page form {

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #2F4FA7;
}

.login-page input[type=text], .login-page input[type=password] {
    width: 100%;
    height: 54px;
    display: block;
    border: 1px solid #00B0FF;
    border-radius: 4px;
    text-indent: 15px;

    /* Subtitle 1 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #676767;
}

.login-page input[type=button] {
    width: 100%;
    height: 54px;
    display: block;
    border: 1px solid #DE3500;
    background: #DE3500;
    border-radius: 4px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.login-page .input-frame {
    position: relative;
    width: 412px;
    height: 484px;
}

.login-page .input-frame label {
    margin-top: 31px;
    margin-bottom: 10px;
}

.login-page .input-frame .error-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: 0.4px;
    color: #E21717;
}

.login-page .input-frame .forgot-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #6D6F8E;
    float: right;
}

.login-page .input-frame .after-input {
margin-top: 8px;
}

.login-page .input-frame .remember-me {
    margin-top: 10px;
    margin-bottom: 23px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #6D6F8E;
}

.login-page .input-frame .remember-me img{
    margin-right: 13px;
    margin-top: -3px;
}

.login-page .login-footer {
    position: absolute;
    bottom: 38px;
    left: 0;
    right: 0;
    text-align: center;
    margin-right: 55%;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;

    color: #808080;
}

.login-page .main-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}