@font-face {
    font-family: Ubuntu;
    src: url(font/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto/Roboto-Regular.ttf);
}

.fullscreen {
    min-height: 100vh;
    position: relative;
}

.blocked-scrolling {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #80808061;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 36px;

    color: #808080;
}

.zr-red-outline-button {
    border: 1px solid #DA3A07;
    /* border-radius: 4px; */
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #DA3A07;
    background: #FFFFFF;
    border-radius: 4px;
}

.zr-red-outline-button:hover {
    background: #ffdfd6;
    color: #DA3A07;
}

.zr-red-button {
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid #DE3500;
    background: #DE3500;
    border-radius: 4px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}
.zr-red-button:hover {
    border: 1px solid #f63700;
    background: #F63700;
    color: #FFFFFF;
}

.zr-blue-button {
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid #00B0FF;
    background: #00B0FF;
    border-radius: 4px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.zr-blue-button:hover {
    border: 1px solid #2cbeff;
    background: #2cbeff;
    color: #FFFFFF;
}

.zr-header {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    color: #2F4FA7;
}

h1.zr-header {
    font-size: 39px;
    line-height: 58px;
}

h2.zr-header {
    font-size: 36px;
    line-height: 63px;
}

h3.zr-header {
    font-size: 30px;
    line-height: 50px;
}

.zr-header-description {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #676767;
    margin-top: 0px;
    margin-bottom: 3px;
}

.zr-input {
    position: relative;
}

.zr-input label {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    top: -6px;
    left: 11px;
    background: white;
    padding-right: 6px;
    padding-left: 6px;
}

.zr-input label.disabled {
    background-color: rgb(235, 235, 228);
    border-radius: 3.5px;
}

.zr-input.invalid label {
    color: #E21717;
}

.zr-input input[type=text] {
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3.5px;
    text-indent: 15px;


    /* Subtitle 1 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    letter-spacing: 0.15px;

    /* 00. On Surface / Medium Emphasis */
    color: rgba(0, 0, 0, 0.6);
}

.zr-input.invalid input[type=text] {
    border: 1px solid #E21717;
}

.zr-input input[type=text]:focus {
    border: 1px solid #2F4FA7;
    outline: none;
}

.zr-input .patient-input-error-message {
    display: none;
}

.zr-input.invalid .patient-input-error-message {
    width: 100%;
    color: red;
    margin-right: 5px;
    text-align: right;
    font-size: 14px;
    display: block;
}

.zr-input-with-copy {
    position: relative;
}

.zr-input-with-copy .zr-input input {
    width: 75%;
}

.zr-input-with-copy .zr-copy-btn {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #2F4FA7;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.15px;
    text-transform: uppercase;
    color: #2F4FA7;
}

.zr-checkbox {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #676767;

    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.zr-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 2px solid #979797;
    border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.zr-checkbox input:checked ~ .checkmark {
    background-color: #00B0FF;
    border: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.zr-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.zr-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.zr-status-change-unwrapped {
    background: #FFFFFF;
    border: 1px solid #DA3A07;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
}

.zr-status-change-unwrapped .status {
    position: relative;
    cursor: pointer;
}

.zr-status-change-unwrapped .status span {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 4px;
    border: 2px solid #A8A8A8;
    background-color: #A8A8A8;
}

.zr-status-change-unwrapped .status label {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    margin-left: 22px;
    margin-bottom: 0;
    cursor: pointer;
    color: #424242;
}

.zr-status-change-unwrapped .status.green span {
    border: 2px solid #3EBB2A;
    background-color: #3EBB2A;
}

.zr-status-change-unwrapped .status.green label {
    color: #1D5714;
}

.zr-status-change-unwrapped .status.blue span {
    border: 2px solid #00B0FF;
    background-color: #00B0FF;
}

.zr-status-change-unwrapped .status.blue label {
    color: #00B0FF;
}

.zr-status-change-unwrapped .status.red span {
    border: 2px solid #ee5454;
    background-color: #ee5454;
}

.zr-status-change-unwrapped .status.red label {
    color: #951112;
}

.patient-row {
    border-bottom: 1px solid #cccccc63;
    padding: 5px;
    cursor: pointer;
    margin-right: 0;
    margin-left: 0;
}

.patient-row:hover {
    background-color: #e2eeff;
}

.patient-row.first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.patient-row.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.patient-row button{
    height: 100%;
}

.patient-row-right {
    position: absolute;
    right: 20px;
}

.patient-list .add-person {
    margin-bottom: 50px;
}

.patient-list .add-person button{
    padding: 20px;
}

.patient-add-button {
    background-color: #ddffd8b5;
}

.patient-status-info {
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.patient-blocking-button {
    position: relative;
}

.patient-blocking-button .spinner-border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.thankyou-page {
    background: #EDF6FA;
}

.thankyou-page .body-wrapper {
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 1;
    padding: 2%;
    max-width: 720px;
    width: 90%;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.thankyou-page .body-wrapper .logo {
    width: 100%;
}

.thankyou-page .bottom-image {
    position: absolute;
    bottom: 34px;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 30%;
}

@media (min-width: 576px) {
    .thankyou-page .bottom-image {
        height: 40%;
    }
}

.patient-input-error-message {
    display: none;
}

.patient-input-invalid .patient-input-error-message {
    width: 100%;
    color: red;
    margin-right: 5px;
    text-align: right;
    font-size: 14px;
    display: block;
}
.patient-input-invalid input,
.patient-input-invalid textarea
{
    border-color: red;
}
.cooperation {
    background-color: #8cfffb14;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.statue {
  overflow: auto;
  background-color: #8cfffb14;
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 2em;
}

.with-tooltip {
    position: relative;
}

.with-tooltip .tooltiptext {
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.with-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.search-header {
    border-bottom: 1px solid #AAC9D7;
    height: 82px;
    background: #FFFFFF;
}

.search-header .container,
.search-header .row {
    height: 100%;
}

.to-bottom {
    position: absolute;
    bottom: 0;
}

.search-header span {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    text-align: center;
    letter-spacing: 0.15px;

    color: #265892;

}

.search-header button {
    border: 1px solid #AAC9D7;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
    right: 8px;
}

.search-header button img {
    padding: 5px;
    height: 35px;
}

.search-header input[type=text] {
    background: #F5F5F5;
    border-radius: 10px;

    width: 100%;
    height: 49px;
    display: block;
    border: 0;
    text-indent: 15px;

    /* Subtitle 1 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #676767;
}

.list-page {
    background: #EDF6FA;
    padding-bottom: 70px;
    position: relative;
}

.list-page .select span {
    position: absolute;
    height: 20px;
    left: 5.2%;
    right: 59.57%;
    top: calc(50% - 20px / 2);

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    /* identical to box height, or 125% */
    letter-spacing: 0.25px;

    color: #65696E;


}

.list-page .functional-top .select {
    position: relative;
    margin-top: 8px;
    height: 48px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    /* identical to box height, or 125% */
    letter-spacing: 0.25px;

    color: #65696E;
    background: #FFFFFF;
}

.list-page .functional-top {
    position: absolute;
    bottom: 0;
    padding-right: 25px;
}

.list-page .functional-top .zr-red-button {
    height: 56px;
}

.list-page .table-header {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: #65696E;
}

.list-page .patient-row-wrapper {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #E0E8EC;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 36px;

    /* identical to box height, or 180% */
    letter-spacing: 0.15px;

    color: #2F4FA7;
}

.list-page .patient-row-wrapper span {
    line-height: 52px;
}

.status-button {
    border: 2px solid #A8A8A8;
    background-color: #A8A8A8;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;

    letter-spacing: 1.15px;
    text-transform: uppercase;

    pointer-events: none;
    color: #FFFFFF !important;
    opacity: 1 !important;
}

.status-button.blue {
    border: 2px solid #00B0FF;
    background-color: #00B0FF;
}

.status-button.green {
    border: 2px solid #3EBB2A;
    background-color: #3EBB2A;
}

.status-button.red {
    border: 2px solid #ee5454;
    background-color: #ee5454;
}

.list-page .patient-spinner {
    color: #00B0FF;
}

.list-page-modal .modal-content {
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
}

.list-page-modal .modal-header {
    border-bottom: 0;
    padding-bottom: 6px;
}

.list-page-modal .modal-footer {
    border-top: 0;
}

.list-page-modal .modal-header button {
    display: none;
}

.list-page-modal .modal-footer button {
    height: 56px;
}

.list-page-modal .modal-footer .half-width-button {
    width: 50%;
    margin-left: 10px;
}

.list-page-modal .modal-footer .btn-secondary {
    width: 30%;
}

.list-page-modal .modal-footer .btn-secondary {
    width: 30%;
}

.list-page-modal.edit-prescription {
    max-width: 582px;
}

.list-page-modal .status-button {
    line-height: 24px;
    margin-bottom: 16px;
}

.zr-error-modal {
    max-width: 460px;
}

.payment-page {
    background: #EDF6FA;
}

.payment-page .body-wrapper {
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 1;
    padding: 2%;
    max-width: 480px;
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
    border: 1px solid #E0E8EC;
    box-sizing: border-box;
    border-radius: 10px;
}

.payment-page .declaration {

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    letter-spacing: 0.15px;

    color: #666666;
}

.payment-page .zr-input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.payment-page .header img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.payment-page .header {
    position: absolute;
    top: 0;
    left: 0;
}
